/* line 1, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.band {
  width: 100%;
}

/* line 4, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.category {
  width: 100%;
}

/* line 7, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.tours-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 13, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.tours {
  padding: 0px;
  margin: 0px;
  width: 250px;
}

/* line 19, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.navbar {
  background-color: #337cbb;
  border-radius: 0px !important;
}

/* line 23, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.navbar-toggle .icon-bar {
  background-color: #ffffff !important;
}

/* line 26, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.collapse {
  background: #337cbb !important;
}

/* line 31, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.nav a {
  color: #FFFFFF !important;
  text-decoration: none;
}

/* line 35, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.tracker-tour {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #64A6DD;
  border-left: 2px white solid;
  border-top: 2px white solid;
  text-align: center;
}

/* line 44, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.tour-title {
  text-align: center;
  color: #114A74;
}

/* line 48, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.contact-form {
  display: block;
  margin: 20px 100px 20px 100px;
}
/* line 51, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.contact-form h3 {
  color: #114A74;
}

/* line 55, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.footer-text {
  color: #ffffff;
}
/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 */
/* line 1, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.band {
  width: 100%;
}

/* line 4, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.category {
  width: 100%;
}

/* line 7, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.tours-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 13, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.tours {
  padding: 0px;
  margin: 0px;
  width: 250px;
}

/* line 19, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.navbar {
  background-color: #337cbb;
  border-radius: 0px !important;
}

/* line 23, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.navbar-toggle .icon-bar {
  background-color: #ffffff !important;
}

/* line 26, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.collapse {
  background: #337cbb !important;
}

/* line 31, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.nav a {
  color: #FFFFFF !important;
  text-decoration: none;
}

/* line 35, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.tracker-tour {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #64A6DD;
  border-left: 2px white solid;
  border-top: 2px white solid;
  text-align: center;
}

/* line 44, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.tour-title {
  text-align: center;
  color: #114A74;
}

/* line 48, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.contact-form {
  display: block;
  margin: 20px 100px 20px 100px;
}
/* line 51, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.contact-form h3 {
  color: #114A74;
}

/* line 55, /Users/nellyduclos/Desktop/ROR/mk_project/app/assets/stylesheets/custom.sass */
.footer-text {
  color: #ffffff;
}
