.tours-content
  .row
    .tour-title
  .row
    .col-xs-3.tracker-tour
        h4 Sion Sous Les Etoiles
    .col-xs-3.tracker-tour
        h4 Saint Julien En Genvois




<!-- <div class="tours-content">
  <div class="row">
    <h1 class="tour-title">Tracker Tour 2015</h1>
  </div>
  <div class="row">
    <div class="col-xs-3 tracker-tour">
      <h4>Sion sous les étoiles</h4>
    </div>
    <div class="col-xs-3 tracker-tour">
      <h4>Saint Julien En Genevois</h4>
    </div>
    <div class="col-xs-3 tracker-tour">
      <h4>Amsterdam</h4>
    </div>
    <div class="col-xs-3 tracker-tour">
      <h4>Antwerp</h4>
    </div>
    <div class="col-xs-3 tracker-tour">
      <h4>Paris 2nd night</h4>
    </div>
    <div class="col-xs-3 tracker-tour">
      <h4>Paris 1st night</h4>
    </div>
    <div class="col-xs-3 tracker-tour">
      <h4>London RAH 2nd night</h4>
    </div>
    <div class="col-xs-3 tracker-tour">
      <h4>London RAH 1st night</h4>
    </div>
    <div class="col-xs-3 tracker-tour">
      <h4>London O2</h4>
    </div>
  </div>
</div> -->