.calendar-preview
  width           : 100%
  border          : lightgray solid 1px
  margin-top      : 2px

.calendar-portrait
  max-width            : 600px

.btn-cal
  margin-top: 20px !important
  float     : left !important

.calendar-presentation
  margin-bottom:  20px
  margin-top: 20px

.small-cal
  width           : 70px

.side-calendar
  margin-top             : 2px
  color                  : gray

.paypal
  margin-top             : 30px
  margin-bottom          : 30px

@media screen and (max-width: 990px)
  .small-cal, .side-calendar, .side-title
    display              : none