
// Tour pages
.circle
  border-radius         : 50%
  width                 : 150px
  &:hover
    box-shadow          : 0 2px 10px 0 rgba(0,0,0,.76)

.tours-covers
  width                 : 250px
  padding               : 2px
  &:hover
    box-shadow          : 0 2px 10px 0 rgba(0,0,0,.76)
    transition: box-shadow 0.3s ease-in-out

// Concert header title and circle pic
.tour-title
  text-align            : center
  color                 : #114A74

.time-ago
  font-style             : italic
  color                  : #337cbb
  margin-left            : 35px

.concert-date
  margin-left            : 35px

.concert-title
  margin-left            : 35px

.text-bold
  font-weight            : bold

.tours-content
  margin-left           : 5%
  margin-right          : 5%
  margin-top            : 1%
  margin-bottom         : 10%

.circle-title
  border-radius         : 50%
  width                 : 150px

.review-title
  margin-top             : 20px
  margin-left            : 30px

.review-body
  margin-top             : 20px
  text-align             : justify
  width                  : 100%

.set-list
  color                  : #337cbb
  font-size              : 12px
  margin-top             : 30px
  margin-bottom          : 30px

// menu with circles on the right

.image-side
  text-align              : center
  width                   : 140px

.menu-right
  margin-top             :  140px
  border-left            :  3px solid #337cbb

.circle-menu
  border-radius          : 50%
  width                  : 80px
  -webkit-filter         : grayscale(100%)
  &:hover
    width                : 90px
    border               : 6px solid #337cbb
    -webkit-transition   : .3s
    -webkit-filter       : none

.side-concert
  margin-top             : 2px
  color                  : gray

.side-title
  color                  : #337cbb
  margin-left            : 20px
  margin-bottom          : 20px

// bottom page menu

.cover-menu
  width                  : 80px
  margin-bottom          : 20px
  &:hover
    box-shadow          : 0 2px 10px 0 rgba(0,0,0,.76)


// Special display according to used media

@media screen and (max-width: 990px)

  .circle-title, .circle-menu, .side-concert, .side-title
    display              : none

  .concert-title
    text-align           : center

  .concert-date
    text-align           : center
  .time-ago
    text-align           : center

  .cover-menu
    width                  : 50px
    margin-bottom          : 20px
    &:hover
      box-shadow          : 0 2px 10px 0 rgba(0,0,0,.76)
