
.tour-title
  text-align            : center
  color                 : #114A74

.tours-content
  margin-left           : 5%
  margin-right          : 5%
  margin-top            : 1%
  margin-bottom         : 10%

.tours
  padding               : 0px
  margin-top            : 1px
  margin-right          : 1px
  width                 : 200px

.circle
  border-radius         : 50%
  width                 : 150px
  &:hover
    box-shadow     : 0 2px 10px 0 rgba(0,0,0,.76)

.circle-title
  border-radius         : 50%
  width                 : 150px

.concert-title, .concert-date
  margin-left : 25px

// @media screen and (max-width: 900px)

@media screen and (max-width: 1000px)
  .circle-title
    display: none
  .concert-title
    text-align: center

  .concert-date
    text-align: center



.review-title
  margin-top         : 20px
  margin-left        : 30px

.review-body
  margin-top         : 20px
  text-align         : justify

.set-list
  color              : #337cbb
  font-size          : 12px
  margin-top         : 30px
  margin-bottom      : 30px


.underline
  text-decoration    : underline

.text-bold
  font-weight: bold

.photos-album

  margin-bottom      : 30px
  margin-top         : 30px


#my-caroussel
  width              : 20px