.band
  width                 : 100%

.category
  width                 : 100%

.tours-content
  margin-left           : 20px
  margin-right          : 20px
  margin-top            : 20px
  margin-bottom         : 20px

.tours
  padding               : 0px
  margin                : 0px
  width                 : 250px


.navbar
  background-color      : #337cbb
  border-radius         : 0px !important

.navbar-toggle .icon-bar
  background-color      : #ffffff !important

.collapse
  background            : #337cbb !important


.nav
  a
    color               : #FFFFFF !important
    text-decoration     : none

.tracker-tour
  position              : absolute
  width                 : 100%
  height                : 300px
  background-color      : #64A6DD
  border-left           : 2px white solid
  border-top            : 2px white solid
  text-align            : center

.tour-title
  text-align            : center
  color                 : #114A74

.contact-form
  display               : block
  margin                : 20px 100px 20px 100px
  h3
    color               : #114A74

