.navbar
  background-color      : #337cbb
  border-radius         : 0px !important

.navbar-toggle .icon-bar
  background-color      : #ffffff !important

.collapse
  background            : #337cbb !important

.nav
  a
    color               : #FFFFFF !important
    text-decoration     : none

.band
  width                 : 100%

.category
  width                 : 100%

.section-title
  color                 : #64A6DD
  margin-top            : 5px

.under-section
  margin-bottom         : 20px 

.footer
  position : absolute

.footer-text, a
  color                : #ffffff
  text-decoration      : none !important

.contact-form
  display              : block
  margin               : 20px 100px 20px 100px
  h3
    color              : #114A74

.photos-album
  margin-bottom        : 30px
  margin-top           : 30px

#my-caroussel
  width                : 20px

.carousel-control.left
  color                : #ffffff
  font-size            : 100px

.carousel-control.right
  color                 : #ffffff
  font-size             : 100px

@media screen and (max-width: 720px)
  .section-title
    color                 : #64A6DD
    margin-top            : 5px
    font-size             :  20x

@media screen and (max-width: 990px)
  .section-title
    color                 : #64A6DD
    margin-top            : 5px
    font-size             :  25px




