.landing-video
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  filter: grayscale(80%)
  z-index: 1
  min-width: 100%
  min-height: 100%


.main-title
  //background-color:  rgba(0,0,0,0.5)
  border-radius: 4px
  text-align:  center
  width: 100%
  z-index: 2
  color: #337cbb
  font-weight: bolder !important
  h1
    color: #64A6DD !important
  p
    color: #ffffff !important


.navbar
  background-color      : #337cbb
  border-radius         : 0px !important


.navbar-toggle .icon-bar
  background-color      : #ffffff !important

.collapse
  background            : #337cbb !important

.nav
  a
    color               : #FFFFFF !important
    text-decoration     : none
  a:hover
    background-color: #64A6DD !important

.band
  width                 : 100%
  border-radius         : 3px

.thumbnail
  h3
    text-align: center !important
  p
  text-align: justify !important
  padding: 10px !important
  color: #000000 !important
  img
    width: 100%

.make-it-slow
  a:hover
    text-decoration   : none
  box-shadow: 0 1px 2px rgba(0,0,0,0.15)
  transition: box-shadow 0.3s ease-in-out
  border-radius: 4px

.make-it-slow:hover
  box-shadow:  0 5px 25px rgba(0,0,0,0.8)
  border-radius: 4px


.section-title
  color                 : #64A6DD
  margin-top            : 5px
  padding               : 5px

.section-description
  padding-left             : 5px

.site-description
  padding-left:  5px
  font-size   :  18px


.under-section
  margin-bottom         : 20px

.footer
  position : relative
  height : 10%
  background-color: #337cbb

.footer-content
  color                 : #ffffff
  padding-top           : 20px

.footer-text, a
  color                : #ffffff
  text-decoration      : none !important


.photos-album
  margin-bottom        : 30px
  margin-top           : 30px

#my-caroussel
  width                : 20px

.carousel-control.left
  color                : #ffffff
  font-size            : 100px

.carousel-control.right
  color                 : #ffffff
  font-size             : 100px

@media screen and (max-width: 720px)
  .section-title
    color                 : #64A6DD
    margin-top            : 5px
    font-size             : 20px

  .avia_playpause_icon
    display: none !important

  .footer-text
    font-size              : 80%
  .fa
    font-size             : 80% !important

@media screen and (max-width: 990px)
  .section-title
    color                 : #64A6DD
    margin-top            : 5px
    font-size             :  25px





